<ul class="users_container">
  <% @users.each do |user| %>
    <%= link_to user_path(user.id) do %>
      <%= render "shared/user_profile", user: user %>
    <% end %>
  <% end %>
  <% if !user_signed_in?%>
    <div class="links_device">
    <%= link_to "sign up",  new_user_registration_path %>
    <%= link_to "Login",  user_session_path %>
    </div>
    <% end %>
</ul>
